*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #CC5446;
}
.container
{
    width: 50%;
    background: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
#quote
{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    width: 100%;
    height: 25%;
    margin-block: 25px;
}
#author
{
    text-align: right;
    margin-bottom: 50px;
}
#btn
{
    background: linear-gradient(190deg, #8941AD, #CC5446);
    color: #fff;
    border: 0;
    outline: 0;
    width: 75%;
    align-self: center;
    font-size: 20px;
    padding-block: 15px;
    border-radius: 30px;
}
#btn:hover
{
    background: linear-gradient(190deg, #67208b, #aa3224);
}